// Hack is used to display code examples
@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack/hack-regular-webfont.eot?v=2.020');
  src: url('./fonts/hack/hack-regular-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('./fonts/hack/hack-regular-webfont.woff2?v=2.020') format('woff2'),
       url('./fonts/hack/hack-regular-webfont.woff?v=2.020') format('woff'),
       url('./fonts/hack/hack-regular-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack/hack-bold-webfont.eot?v=2.020');
  src: url('./fonts/hack/hack-bold-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('./fonts/hack/hack-bold-webfont.woff2?v=2.020') format('woff2'),
       url('./fonts/hack/hack-bold-webfont.woff?v=2.020') format('woff'),
       url('./fonts/hack/hack-bold-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack/hack-italic-webfont.eot?v=2.020');
  src: url('./fonts/hack/hack-italic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('./fonts/hack/hack-italic-webfont.woff2?v=2.020') format('woff2'),
       url('./fonts/hack/hack-italic-webfont.woff?v=2.020') format('woff'),
       url('./fonts/hack/hack-italic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Hack';
  src: url('./fonts/hack/hack-bolditalic-webfont.eot?v=2.020');
  src: url('./fonts/hack/hack-bolditalic-webfont.eot?#iefix&v=2.020') format('embedded-opentype'),
       url('./fonts/hack/hack-bolditalic-webfont.woff2?v=2.020') format('woff2'),
       url('./fonts/hack/hack-bolditalic-webfont.woff?v=2.020') format('woff'),
       url('./fonts/hack/hack-bolditalic-webfont.ttf?v=2.020') format('truetype');
  font-weight: 700;
  font-style: italic;
}


