.aside--horizontal, .aside--vertical {
  z-index: 99;
  opacity: 0;
}

// HORIZONTAL LAYOUT
.slide--horizontal {
  top: 0;
  right: 0;
  left: 0;
  bottom: $aside-horizontal-height;
}
.layout--horizontal .aside--horizontal {
  opacity: 1;
  height: $aside-horizontal-height;
}

// VERTICAL LAYOUT
.slide--vertical {
  top: 0;
  right: 0;
  bottom: 0;
  left: $aside-vertical-width;
}
.layout--vertical .aside--vertical {
  opacity: 1;
  width: $aside-vertical-width;
}

// THEME 1
// Aside background is white instead of a gradient
.layout--theme1 .bunting--theme1 { color: $bunting; }
.layout--theme1 .algolia-blue--theme1 { color: $algolia-blue; }
.layout--theme1 .bg-white--theme1 { background-color: white; background-image: none; }
