// Fonts
.amaranth { font-family: 'Amaranth'; }
.hack { font-family: 'Hack'; }
// Flexbox
.frw { display: flex; flex-direction: row; flex-wrap: wrap; }
.frn { display: flex; flex-direction: row; }
.fcw { display: flex; flex-direction: column; flex-wrap: wrap}
.fcn { display: flex; flex-direction: column; }
.fa { flex:1 1 auto; min-width:0; min-height:0; }
.fn { flex: none; }
.flex-nogrow { flex-grow: 0; }
.flex-grow { flex-grow: 1; }
.flex-noshrink { flex-shrink: 0; }
.flex-shrink { flex-shrink: 1; }
.flex-row-wrap { display: flex; flex-direction: row; flex-wrap: wrap; }
.flex-row-nowrap { display: flex; flex-direction: row; }
.flex-column-wrap { display: flex; flex-direction: column; flex-wrap: wrap}
.flex-column-nowrap { display: flex; flex-direction: column; }
.flex-vcenter { align-items: center }
.flex-hcenter { justify-content: center }
.flex-center { align-items: center; justify-content: center; }
// List
.list-inside { list-style-position: inside }
// Text shadow
.text-shadow { text-shadow: 2px 2px #313131; }
// Whitespace
.prewrap { white-space: pre-wrap; }
// Line-height
.lh-0 { line-height: 0; }
// Overflow
.oh { overflow: hidden; }
// Font-size
.f7 { font-size: .65rem; }
.f8 { font-size: .5rem; }
