@import './vendors/_reveal';
@import './_variables';
@import './_reveal-overides';
@import './_fonts';
@import './_base';

.reveal {
  @import './vendors/_tachyons';
  @import './_utils';
  @import './_custom';
  @import './_code';
  @import './_contact';
  @import './_layouts';
}

@import './_print';
