.aside--horizontal.absolute.right-0.bottom-0.left-0.z-5.flrnw
  a.fln.bg-deep-cove.w-15.flc.h-100(href="https://www.algolia.com/")
    img.h-50(src="./ui/algolia-logo-dark-bg.svg")
  .fla.bg-gradient-primary.bg-white--theme1.flrnw.tr.pr4.f6.white.bunting--theme1
    .fla.flcnw.flccv
      .fw4= talk_title
      .fw3
        .di= talk_author_name
        a.fw3.no-underline.ml2.white.bunting--theme1(href=`https://twitter.com/${talk_author_name}`)= `@${talk_author_twitter}`
