.aside--vertical.absolute.top-0.bottom-0.left-0.z-5.flcnw
  a.fln.flccv.bg-deep-cove.h-8.flc(href="https://www.algolia.com/")
    img.w-50(src="./ui/algolia-logo-dark-bg.svg")
  .fla.bg-gradient-primary.flcnw.f6.white.ph2.pv3
    .fw4.mta= talk_title
    .fw3= talk_author_name
    a.fw3.white.no-underline(href=`https://twitter.com/${talk_author_name}`)= `@${talk_author_twitter}`
