include ./mixins/polaroid
doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        include ./slides/intro
        include ./slides/where
        include ./slides/conclusion

        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
