include ./mixins/polaroid
doctype html
html(lang="en")
  include ./partials/header
  body
    .reveal
      .slides.bg-white.lh-copy.bunting.f3.fw3

        include ./slides/intro
        include ./slides/why
        include ./slides/what
        include ./slides/where
        include ./slides/when
        include ./slides/how
        include ./slides/stress
        include ./slides/conclusion

        // Other topics not included in the talk:
        //
        // Don't apologize for your slides, for hoping it will be / was interesting.
        // You're the expert, just because you're on stage. People will listen to you.
        // Don't apologize.
        //
        // Have a plan B Backup. Wifi can go down. Your laptop might be out of battery.
        // Have a plan B, a video, a Google Slide, something to do your talk.
        // If things go bad, don't apologize, but explain what is going on so the
        // audience knows what to expect.
        //
        // Duo-presenting: I'm not a fan, I've seen it fail more often than succeed.
        // Gives a Laurel / Hardy feeling to the presentation, seems fake. Is
        // interesting if two people have different points of view: Dev VS Ops, Web Vs
        // Native, etc.
        //
        // After the show: Post slides online on Twitter with the conference hashtag.
        // Tweet the video when available (and watch it!). Play the same talk several
        // time, to capitalize on the time invested in creating it.
        //
        // Regarding questions, it is better to have them at the end, as to not stop
        // your flow. Do not ask questions to the audience, or very simple ones with
        // a raise of hands.
        //
        // Telling a story. Inspired from the TEDTalks, tell a personal story,
        // and the usual journey. Who is the hero? You. What is your ordinary
        // life (doing that). What is the weird element (this bug). Why do you
        // refuse the call (don't know how to). What will trigger doing it
        // really (real bug in production). What is threshold crossed (learning
        // js). Who could be your mentor (this book/blog). What did you learn?
        // (thing really great in language X). How did you defeated the initial
        // challenge (way to solve the initial bug).


        include ./partials/aside-horizontal
        include ./partials/aside-vertical

    include ./partials/footer
