include ./partials/config.pug
include ./partials/mixins.pug
doctype html
html(lang="en")
  head
    title=talk_title
    meta(name="description" content=talk_description)
    meta(name="author" content=talk_author)
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
    link(rel='stylesheet', type='text/css', href='./main.css')
    link(rel='shortcut icon', href='./favicon.ico')
    <!--[if lt IE 9]>
      script(src='./js/html5shiv.js')
    <![endif]-->
  body
    .reveal
      .slides.white

        include ./slides/home.pug
        include ./slides/who-am-i.pug
        include ./slides/developer-advocate.pug
        include ./slides/things-to-say.pug
        include ./slides/imposter-syndrome.pug
        include ./slides/content.pug
        include ./slides/no-stress.pug
        include ./slides/record-yourself.pug
        // include ./slides/body-language.pug
        // include ./slides/simplify.pug
        include ./slides/no-excuses.pug

        include ./slides/questions.pug

  script(src='./js/head.min.js')
  script(src='./js/reveal.js')
  script(src='./app.js')
  script require('javascripts/app').default.init()

