section
  .bg-black-70.br2.pa2.mt2.f6.tc
    |Si vous êtes 
    .di.b.gold passionné
    |, vous serez 
    .di.b.green passionant

  .flex.flex-center
    img.w5.br2.mt2(src='./img/body-language.gif')
