// Contact
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-headline
      .di.c-contact.c-contact--email(data-name='email')
        |tim@
        .di.c-contact.c-contact--website(data-name='website')
          .di.c-contact.c-contact--twitter(data-name='twitter')
            |pixelastic
          |.com


