section(data-background='./img/audience.jpg')
  .bg-black-90.br2.pa2.mb2.f6.tc
    |Les gens viennent pour le 
    .di.b.gold contenu
    |, pas pour 
    .di.b.gray vous

  .dn
    | Ce n'est pas du théatre. Vous ne faites pas une représentation.
    | Vous n'avez pas à faire une performance. Vous etes secondaire
    | au contenu.
