section
  h3.f3.mb3.amaranth.text-shadow Developer Advocate ?
  .frn
    .fa.tc
      .bg-black-50.br2.pa1.ma1.tc.dib
        .f3.amaranth.mb1.white-50 2014
        img.h3.br2(src='./img/2014.jpg')
    .fa.tc
      .bg-black-90.br2.pa1.ma1.tc.dib
        .f3.amaranth.mb1.blue 2016
        img.h3.br2(src='./img/2016.jpg')
