// HOW?
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 How should I prepare my slides?
    .i.mt2.f2 "I hate PowerPoint."

// TOOLING
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Pick the tool you like the most
    .fla.flrnw.flc
      .fla.h5.bg-contain.bg-center.br2(style="background-image:url(./img/keynote.png)")
      .fla.h5.bg-contain.bg-center.br2(style="background-image:url(./img/powerpoint.png)")
      .fla.h5.bg-contain.bg-center.br2(style="background-image:url(./img/googleslides.png)")
      .fla.h5.flc.bg-cover.bg-center.br2(style="background-image:url(./img/revealjs.png)")

// Takes time
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Rule of thumb
    .fla.flrnw.f1.flc
      .fln.w-50
        .f-headline.b.algolia-blue 1mn
        .db of talk
      .fln.f-headline =
      .fln.w-50
        .f-headline.b.radical-red 1h 
        .db of preparation
  aside.notes
    | ~1.5 slides per min of talk
    | 10mn => 15 slides
    | 30mn => 45 slides


// Moving in 1/2
section.slide--vertical(data-transition='fade-out')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Writing stories is like moving in...
    .fla.flcnw.tl.flcspa.ml5.f3.mt4
      .fln.mv3.fragment
        .db.b.bullet-shamrock.f2 You put in boxes
        .db.ml4 Dump everything: ideas, sentences, images, links, etc
      .fln.mv3.fragment
        .db.b.bullet-shamrock.f2 You group by room
        .db.ml4 Put related ideas into their own rooms
      .fln.mv3.fragment
        .db.b.bullet-shamrock.f2 You draw the map
        .db.ml4 Create a logical path between rooms
      .fln.mv3.fragment
        .db.b.bullet-shamrock.f2 You decorate each room
        .db.ml4 Highlight the best ideas in each room
      .fln.tr.f2.i
        | Tim's roommate —

// Moving in 2/2
section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3.relative
    .absolute.absolute-0.bg-bunting.z-0
      .w-100.h-100.bg-cover.o-70.grayscale(style="background-image:url(./img/bref.jpg)")
    .z-1.white.fla.flcnw
      .fln.f1.lh-title.tl.b Writing stories is like moving in...
      .fla.flcnw.tl.flcspa.ml5.f3.mt4
        .fln.mv3.o-30
          .db.b.bullet-shamrock.f2 You put in boxes
          .db.ml4 Dump everything: ideas, sentences, images, links, etc
        .fln.mv3.o-30
          .db.b.bullet-shamrock.f2 You group by room
          .db.ml4 Put related ideas into their own rooms
        .fln.mv3.o-30
          .db.b.bullet-shamrock.f2 You draw the map
          .db.ml4 Create a logical path between rooms
        .fln.mv3.o-30
          .db.b.bullet-shamrock.f2 You decorate each room
          .db.ml4 Highlight the best ideas in each room
        .fln.tr.f1.i.b
          | Kyan Khojandi —

// REREAD REHEARSE REMOVE
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b The Three R Rule:
    .fla.flrnw.flc
      .fla.w-third
        .fln.b.f-subheadline
          .di.green.f-headline R
          .di eread
      .fla.w-third.fragment
        .fln.b.f-subheadline
          .di.algolia-blue.f-headline R
          .di ehearse
      .fla.w-third.fragment
        .fln.b.f-subheadline
          .di.radical-red.f-headline R
          .di emove
  aside.notes
    | Remove typos, check links, images, sentences
    | Rehearse alone, with camera, family, coworkers
    | Remove what is unnecessary. When nothing more to remove, remove again.

// ONE THING
section.slide--horizontal.slide--theme1
  .bg-gradient-cherry.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 
      .db What is
      .db.b the one thing
      .db they need to remember?

// REPEAT REPEAT REPEAT
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b The (other) Three R Rule:
    .fla.flrnw.flc
      .fla.w-third
        .fln.b.f-subheadline
          .di.green.f-headline R
          .di epeat
      .fla.w-third.fragment
        .fln.b.f-subheadline
          .di.green.f-headline R
          .di epeat
      .fla.w-third.fragment
        .fln.b.f-subheadline
          .di.green.f-headline R
          .di epeat

// DO'S AND DON'TS
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Do's and Don'ts
    .fla.flcnw.flcspa.tl.pl6
      .fln.f2
        .db.b.bullet-shamrock Introduce yourself
        .db.ml4 Why should they listen to you? Say your name aloud.
      .fln.f2.fragment
        .db.b.bullet-shamrock Make the slides shareable
        .db.ml4 Should be understandable without sound. 
        .db.ml4 Avoid long texts. Add your Twitter handle.
      .fln.f2.fragment
        .db.b.bullet-shamrock Keep the audience focused
        .db.ml4 Add a time indicator. Avoid animated GIF.

