// TITLE
section.slide--horizontal.slide--theme1
  .absolute.absolute-0
    .h-100.flcnw.pa3
      .fla.polaroids
        +polaroid('./img/onstage_eran.jpg', 'Eran at dotScale')
        +polaroid('./img/onstage_guillaume.jpg', 'Guillaume presenting InstantSearch')
        +polaroid('./img/onstage_dustin.jpg', 'Dustin introducting our network')
        +polaroid('./img/onstage_jeanedern.jpg', 'Jean-Edern at Wolfsummit')
        +polaroid('./img/onstage_liam.jpg', 'Liam talking about chatbots')
        +polaroid('./img/onstage_vincent.jpg', 'Vincent at dotJS')
        +polaroid('./img/onstage_nico.jpg', 'Nico at HumanTalks')
        +polaroid('./img/onstage_tim_alex.jpg', 'Tim & Alex at Serverless London')
        +polaroid('./img/onstage_adam.jpg', 'Adam at Velocity')
        +polaroid('./img/onstage_raph.jpg', 'Raph doing a workshop')
        +polaroid('./img/onstage_marielaure.jpg', 'Marie-Laure at React Conf')
        +polaroid('./img/onstage_anthony.jpg', 'Anthony at Leaseweb summit')
  .absolute.absolute-0.bg-gradient-primary-90.white.h-100.flcnw.flc
    .f-headline.lh-title.mh6.ph6 Tips to get your talk accepted at a conference
