// Title
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 Algolia Speaker Program

// Tim Carry
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Tim Carry
    .fla.flcnw.flccv
      .fln.flrw.mh5
        .fln.w-third.flc
          img.h5.br3(src='./img/avatar.jpg')
        .fln.w-two-thirds.flc.f-headline.b.algolia-blue @pixelastic
        .fln.w-third.flrch.mt4
          .bg-black-80.br3.pa3.w5.f0.ma3.flc
            img(src='./img/algolia/algolia-dark.svg')
        .fln.w-third.flrch.mt4
          .bg-black-80.br3.pa3.w5.f0.ma3.flc
            img(src='./img/humantalks.png')
        .fln.w-third.flrch.mt4
          .bg-black-80.br3.pa3.w5.f0.ma3.flc
            img(src='./img/techlunch.png')



