// TITLE
section.slide--horizontal.slide--theme1
  .absolute.absolute-0
    .h-100.flcnw.pa3
      .fla.polaroids
        +polaroid('./img/onstage_eran.jpg', 'Eran at dotScale')
        +polaroid('./img/onstage_guillaume.jpg', 'Guillaume presenting InstantSearch')
        +polaroid('./img/onstage_dustin.jpg', 'Dustin introducting our network')
        +polaroid('./img/onstage_jeanedern.jpg', 'Jean-Edern at Wolfsummit')
        +polaroid('./img/onstage_liam.jpg', 'Liam talking about chatbots')
        +polaroid('./img/onstage_vincent.jpg', 'Vincent at dotJS')
        +polaroid('./img/onstage_nico.jpg', 'Nico at HumanTalks')
        +polaroid('./img/onstage_tim_alex.jpg', 'Tim & Alex at Serverless London')
        +polaroid('./img/onstage_adam.jpg', 'Adam at Velocity')
        +polaroid('./img/onstage_raph.jpg', 'Raph doing a workshop')
        +polaroid('./img/onstage_marielaure.jpg', 'Marie-Laure at React Conf')
        +polaroid('./img/onstage_anthony.jpg', 'Anthony at Leaseweb summit')
  .absolute.absolute-0.bg-gradient-primary-90.white.h-100.flcnw.flc
    .f-headline.lh-title.mh6.ph6 How to become a public speaker

// Tim Carry
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Tim Carry
    .fla.flcnw.h-100
      .fla.flrnw.h-50
        .fln.w-third.flc
          img.br3.w-60(src='./img/avatar.jpg')
        .fln.w-two-thirds.flc
          .f-headline.b.algolia-blue @pixelastic
      .fla.flrnw.h-50
        .fln.w-third.flc
          .bg-black-80.br3.w-70.h-70.flc
              img.w-80(src='./img/algolia/algolia-dark.svg')
        .fln.w-third.flc
          .bg-black-80.br3.w-70.h-70.flc
              img.w-80(src='./img/humantalks.png')
        .fln.w-third.flc
          .bg-black-80.br3.w-70.h-70.flc
              img.w-80(src='./img/techlunch.png')

// Where I was. Where I am.
// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b From personal experience
//     .fla.flrnw.flrcv.flrspa
//       .fln.flcnw.flcab.w-25
//         img.br2.w-100(src='./img/2014.jpg')
//         .fln.f1.b 2014
//         .fln.i Internal presentation
//       .fln.flcnw.flcab.w-40
//         img.br2.w-100(src='./img/2017.jpg')
//         .fln.shamrock.f1.b 2017
//         .fln.i International conference


// Yes but...
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Common blockers
    .fla.flc
      ul.list.tl.f1
        li.bullet-radical-red I have nothing to say
        li.bullet-radical-red.fragment I don't know of any conference
        li.bullet-radical-red.fragment I don't know how to make slides
        li.bullet-radical-red.fragment I have stage fright
      // .absolute.bg-gradient-primary-90.absolute-0.fragment

      //   .w-100.h-100.flrnw.flc.f-headline.white We're here to help



