section(data-background='./img/excuses.jpg')
  .bg-black-90.br2.pa2.mb2.f6.tc.fragment
    |Vous êtes le 
    .di.b.gold référent 
    |dans la salle

  .dn
    | Ce n'est pas du théatre. Vous ne faites pas une représentation.
    | Vous n'avez pas à faire une performance. Vous etes secondaire
    | au contenu.
