section(data-background="./img/bio.jpg")
  .bg-black-90.br2.pa2.mt2.f6.tc.fragment(data-fragment-index="2")
    |Votre stress est 
    .di.b.gold invisible

  .frn.flex-center.fragment(data-fragment-index="1")
    .fn.bg-black-90.br2.pa2.ma2.tc.lh-0
      img.br2.h4(src='./img/teapot.jpg')

  .dn
    | Normal d'etre stressé
    | Mark Twain. Deux types de speakers. Ceux qui sont stressés, et
    | ceux qui sont des menteurs.
    | Stress reste à l'intérieur, ne se voit pas dehors.
