section
  .bg-black-70.br2.pa2.mt2.f6.tc
    |Votre stress est 
    .di.b.gold invisible

  .flex-row-nowrap
    .flex-none.w-50
      .bg-black-90.br2.pa1.ma2
        img.db.br2.w4.tc(src='./img/bio.png')
        .tc.red.mt1 ✘ Faux

    .flex-none.w-50
      .bg-black-90.br2.pa1.ma2
        img.db.br2.w4.tc(src='./img/teapot.jpg')
        .tc.green.mt1 ✔ Vrai

  .dn
    | Normal d'etre stressé
    | Mark Twain. Deux types de speakers. Ceux qui sont stressés, et
    | ceux qui sont des menteurs.
    | Stress reste à l'intérieur, ne se voit pas dehors.
