section(data-background="./img/background-conclusion.jpg")

  h3.palooka.f2 Questions?

  .relative

    .palooa.f3.h4.flex-column-wrap.justify-center.items-center
      .di.c-contact.c-contact--email(data-name='email')
        |tim@
        .di.c-contact.c-contact--website(data-name='website')
          .di.c-contact.c-contact--company(data-name='company')
            |algolia
          |.com


    .h2.absolute.bottom--1.right--2 @pixelastic

