section(data-background='img/chroma.png')
  h3.f2.mb3.amaranth.text-shadow Filmez-vous

  .h4.flex-column-nowrap.f4
    .flex-auto.flex-center.flex.fragment
      .dib.bg-black-90.br2.pa2 Regardez-vous
    .flex-auto.flex.flex-center.fragment
      .dib.bg-black-90.br2.pa2 Écoutez-vous
