section(data-background='./img/simplify.jpg')
  .frn.flex-center
    .fn.bg-black-90.br2.pa2.mb2.f6.tc
      | Soyez 
      .di.gold.b concis

  .dn
    | Ce n'est pas du théatre. Vous ne faites pas une représentation.
    | Vous n'avez pas à faire une performance. Vous etes secondaire
    | au contenu.
