// I'M SCARED
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 I don't want to go
    .i.mt2.f2 "I'm scared."

// IT'S NORMAL
section.slide--horizontal.slide--theme1
  .absolute.absolute-0.bg-cover.bg-center(style="background-image: url('./img/stage.jpg')")
  .absolute.absolute-0.bg-gradient-cherry-80.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 It's 
      .di.b normal
    .i.mt2.f2 It's the adrenaline rush
  aside.notes
    | Not usual to be watched by that many people
    | Brains takes it as danger. Adrenaline rush.
    | Good thing, we need to use this to our advantage. We think faster.
    | Can even be enjoyable, like skydiving.

// BIFIDUS MYTH
section.slide--horizontal
  .h-100.flcnw.pa3
    .absolute.absolute-0.flcnw.flc.bg-black-90.fragment
      img.h-80.rotate-315(src='./img/bullshit.png') 
    .fln.f1.lh-title.tl.b The Bifidus Myth
    .fla.flrnw
      .fla.w-third.flc
        img.br2.w-50(src='./img/bifidus.png')
      .fla.flc.pr3
        .i.f1 
          .db "What happens inside 
          .db can be seen on the outside"

// TEAPOT
section.slide--horizontal.slide--theme1
  .absolute.absolute-0.bg-cover.bg-center(style="background-image: url('./img/teapot.jpg')")
  .absolute.absolute-0.bg-gradient-primary-60.white.h-100.flcnw.flc
    .f-headline.b.white.text-shadow-1.lh-title.mh4.ph6 You are a teapot
    .i.mt2.f2 What happens inside, stays inside.
  aside.notes
    | HTTP Error code 418: I'm a teapot

// WAYS TO LOWER STRESS
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Lowering stress level
    .fla.flrw.flc.tl.ph5
      .fla.w-50.f2
        .db.b.bullet-shamrock.f1.mb3 Be prepared
        .db.ml4.mb3 Check the room before.
        .db.ml4 Know your intro and outro.
      .fla.w-50.f2.fragment
        .db.b.bullet-shamrock.f1.mb3 Be protected
        .db.ml4.mb3 People are not here for you.
        .db.ml4 Your content is your shield.
      .fln.fragment.f2
        .db.bullet-algolia-blue.b.f1 Feel the adrenaline rush
        .db.ml4.mb3 You'll enjoy it.
        .db.ml4 You'll want to do it again.


// DIY
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b DIY Experience
    .fla.flcnw
      .fla.pa3.flc
        .fln.flcnw.tl.f2
          .db.bullet-algolia-blue.b.f1.mb3 Record yourself
          .db.pl4.mb3 Use your smartphone.
          .db.pl4 Talk to the camera.
      .fla.flrnw.pb4
        .fla.w-50.flc
          .fln.flcnw.tl.f2
            .db.bullet-shamrock.b.f1.mb3.fragment(data-fragment-index="1") Watch yourself
            .db.pl4.mb3.fragment(data-fragment-index="2") Stop touching things
            .db.pl4.fragment(data-fragment-index="2") Stop moving
        .fla.w-50.flc
          .fln.flcnw.tl.f2
            .db.bullet-shamrock.b.f1.mb3.fragment(data-fragment-index="1") Listen to yourself
            .db.pl4.mb3.fragment(data-fragment-index="3") Remove verbal noises
            .db.pl4.fragment(data-fragment-index="3") Add silences
  aside.notes
    | At Algolia, Public Speaking Workshop on two days with teacher.
    | "Life changing experience" for many.
    | If they start doing a talk in the upcoming month, they start loving it and
    | are submitting talk to many more.
