// Two-step process
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Two-step process
    .fla.flrnw.flccv.mt2
      .fla.flcnw.flc.w-50
        .fln.flrnw.flc.pa3.mt5
          .fln.w3.h3.lh3.f1.b.br-100.bg-blue.white 1
          .fln.b.blue.f1.ml3 Download
        .fla.f1.flc.fragment
          ul.list.tl
            li.bullet-radical-red Slow
            li.bullet-shamrock Easy
      .fla.flcnw.flc.w-50
        .fln.flrnw.flc.pa3.mt5
          .fln.w3.h3.lh3.f1.b.br-100.bg-green.white 2
          .fln.b.green.f1.ml3 Parse
        .fla.f1.flc.fragment
          ul.list.tl
            li.bullet-shamrock Fast
            li.bullet-radical-red.relative Hard
              .bullet-algolia-blue.absolute.mt3.fragment TDD

// Several sources
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Several sources
    .fla.flrnw
      .fla.flrw.flc.w-50
        .fln.pa3
          img(src='./img/wikipedia.png')
        .fln.pa3
          img(src='./img/dbpedia.png')
        .fln.pa3
          img(src='./img/marvel.png')
      .fla.w-50.flc
        ul.list.tl.f1
          li.bullet-algolia-blue Isolate scripts
          li.bullet-algolia-blue Merge data
          li.bullet-algolia-blue Define fallbacks
          li.bullet-algolia-blue Commit in git
