// Title
section.slide--horizontal.slide--theme1
  .absolute.absolute-0.bg-cover.bg-bottom-right(style="background-image: url('./img/background-ui.jpg')")
  .absolute.absolute-0.white.h-100.flcnw.flc
    .f1.lh-title.mh6.ph6.palooka.small-caps.palooka-f1.text-shadow-1 Building the UI

// Search
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      .di Search: 
      img.h3.mh3(src='./img/algolia/algolia.svg')
    .fla.flcnw.flccv.mr4
      .fla.flrnw
        .fla.w-50.flcnw
          .fla.flc.f0
            img(src='./img/widgets.jpg')
        .fla.w-50.flcnw
          .fln.flrnw.flspbh.h3.pa1
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/php.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/ruby.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/javascript.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/python.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/ios.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/android.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/csharp.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/java.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/go.svg')
            img.h-100.br-100.shadow-3(src='./img/algolia/languages/scala.svg')
          .fla.flc
            ul.list.tl.f1
              li.bullet-shamrock Push JSON
              li.bullet-shamrock UI widgets
              li.bullet-shamrock HTML / JS / CSS

// Images
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      .di Images: 
      img.h3.mh3(src='./img/cloudinary.svg')
      .di Cloudinary
    .fla.flcnw
      .fla.flrnw.flc
        .fla.f0.flc
          img.h5(src='./img/background-hulk.jpg')
        .fla.f0.flc
          img.h5.scale-80(src='./img/background-hulk-cloudinary.gif')
      .fla.flcnw.flc
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu
          |http://res.cloudinary.com/{app_id}/image/fetch/
          .db
            .di.blue w_450
            .di ,
            .di.blue q_90
            .di ,
            .di.blue e_colorize:40
            .di ,
            .di.blue co_rg:17250B
            .di /
          .db.green
            |http://i.marvel.com/i/537bafb19e9f4.gif

section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b.flrnw.flrcv
      .di Hosting: 
      img.h3.mh3(src='./img/github.png')
      .di GitHub Pages
    .fla.flrnw
      .fla.w-50.flc.flcnw
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.f3.mb3
          |git push origin gh-pages
        .bg-near-black.pa2.lh-copy.tl.near-white.dejavu.f3
          |https://{username}.github.io/{reponame}

      .fla.flc.w-50
        ul.list.tl.f-subheadline
          li.bullet-shamrock Git
          li.bullet-shamrock Free

// Search
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b 
    .fla.flcnw.flccv
      ul.list.tl.f-subheadline
        li.bullet-shamrock Data is everywhere
        li.bullet-shamrock Tools are available
        li.bullet-shamrock No servers are required


