// WHAT?
section.slide--horizontal.slide--theme1(data-transition='fade-out')
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 What can I talk about?
    .i.mt2.f2 "Me? I have nothing interesting to say."

// YOU HAVE THINGS TO SAY
section.slide--horizontal.slide--theme1(data-transition='fade-in')
  .bg-gradient-cherry.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 
      | You 
      .di.b have 
      |things to say
  aside.notes
    | Most important advice ever. 

// Imposter syndrome
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Kill that little voice in your head...
    .fla.flc.pa1.h-100
      img.h-90(src='./img/imposter.jpg')

// YOU HAVE THINGS TO SAY
section.slide--horizontal.slide--theme1
  .bg-gradient-cherry.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 
      | You're 
      .di.b always 
      | right when sharing 
      .di.b your 
      | experience

// Gartner curve
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Following the curve
    .fla.flrnw
      .fla.w-50.f0.flc.pl4
        img(src='./img/gartner.png')
      .fla.w-50.flcnw.flcspa.pl5
        .fln.tl.fragment
          .b.db.f2.bullet-shamrock Peak of Inflated Expectations:
          .di.ml4 Shiny new tech. Hacks. Side-projects
        .fln.tl.fragment
          .b.db.f2.bullet-shamrock Through of Disillusionment:
          .di.ml4 Stories from the trenches. Post-mortem.
        .fln.tl.fragment
          .b.db.f2.bullet-shamrock Slopes of Enlightenment:
          .di.ml4 Quick start. Best practices. Tooling.
        .fln.tl.fragment
          .b.db.f2.bullet-shamrock Plateau of Productivity:
          .di.ml4 Advanced techniques. Optimisation.


// TALK IDEA RECIPE
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Topic-finding workshop
    .fla.flcnw.flcch.f-subheadline
      .fla.tl.flcnw.flcspa
        .bullet-shamrock 1. Dump all ideas
        .bullet-shamrock 2. Gather feedback
        .bullet-shamrock 3. Pick one
    aside.notes
      | Dump every idea. Post-it is great. Anything. Don't judge.
      | Tell it to ther, hear their feedback. What they would like to hear, or not.
      | Try to sort, pick the one that appeals the most to you and focus on that one.

// TALK TO YOUR PREVIOUS YOU
section.slide--horizontal.slide--theme1
  .absolute.absolute-0.bg-cover.bg-top(style="background-image: url('./img/back_to_the_future.jpg')")
  .absolute.absolute-0.bg-gradient-cherry-80.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 
      | Be the mentor 
      .di.b you 
      | would have loved to have
