// WHEN?
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph4 How long should I talk?
    .db.relative.w-100
      .fragment.fragment-reverse.absolute.absolute-0(data-fragment-index="1") "I could talk about that for hours!"
      .fragment.absolute.absolute-0(data-fragment-index="1")
        .strike "I could talk about that for hours!"
        .db.b Please, don't.

// Talk format
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Talk duration
    .fla.flcnw
      .fla.flrnw.flc
        .fln.w-third.fragment
          .b.logan.f1 10mn
          .db Lightning talk.
        .fln.w-third
          .b.algolia-blue.f-headline 18mn
          .db Average attention span.
        .fln.w-third.fragment
          .b.logan.f1 25-30mn
          .db Usual conference.
      .fln.pv3.f1.fragment Mental break every 30mn

// Best position in the day
// section.slide--horizontal
//   .h-100.flcnw.pa3
//     .fln.f1.lh-title.tl.b Best spot in program? Don't bother
//     .fla.flrw.f2
//       .fln.w-50.flc
//         .db.tl.w-80
//           .db.b Start of the day?
//           .db.i Audience will be waking up.
//       .fln.w-50.flc
//         .db.tl.w-80
//           .db.b End of the day?
//           .db.i Audience will be tired
//       .fln.w-50.flc
//         .db.tl.w-80
//           .db.b Before lunch?
//           .db.i Audience will be hungry.
//       .fln.w-50.flc
//         .db.tl.w-80
//           .db.b After lunch?
//           .db.i Audience will be sleepy.
