// WHERE?
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh4.ph6 Where can I do a talk?
    .i.mt2.f2 "I don't go to meetups, I know no one"

// A SUCCESSFUL TALK IS...
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b A successful talk is...
    .fla.flc
      ul.list.tl.f-subheadline
        li.bullet-shamrock ⅓ content
        li.bullet-shamrock ⅓ speaker
        li.bullet-shamrock ⅓ audience
    aside.notes
      | You can have the most interesting content and be an amazing speaker, if people don' care
      | it's wasted. Adapt your content to your audience.

// How to apply where
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b How to apply?
    .fla.flrnw.flrspa.pv5
      .fla.flcnw.ma2.w-third.bg-black-10.br2.oh
        .fln.relative.bg-black.br2.h4.flc
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/algolia-office.jpg')")
          .b.z-1.logan.f1 Internal
        .fla.flcnw.flccv.pa3.f2
          ul.list.tl
            li Book a room
            li Tell your team

      .fla.flcnw.ma2.w-third.bg-black-10.br2.fragment
        .fln.relative.bg-black.br2.h4.flc
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/searchparty_sf.jpg')")
          .b.z-1.bittersweet.f1 Meetups
        .fla.flcnw.flccv.pa3
          ul.list.tl
            li Browse meetup.com
            li Easy to get accepted
            li Wait 1-2 months

      .fla.flcnw.ma2.w-third.bg-black-10.br2.fragment
        .fln.relative.bg-black.br2.h4.flc
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/onstage_guillaume.jpg')")
          .b.z-1.shamrock.f1 Conferences
        .fla.flcnw.flccv.pa3
          ul.list.tl
            li Submit Call For Paper
            li Track record
            li Competition
            li Wait ~6 months


// HOW TO FILL A CFP 1/2
section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b How to fill a CFP
    .fla.flrnw
      .fln.flcnw.w-third.f1
        .fla.flc.b.green Public
        .fla.flc.b.logan.o-50 Private
      .fla.flcnw.pa4.tl.flcspa.ml4
        .fln
          .db.b Where
          .db.ml3 Displayed on website.
          .db.ml3 Printed on program. 
        .fln
          .db.b Goals
          .db.ml3 Help audience decide.
          .db.ml3 Competition against the other room.
        .fln
          .db.b How
          .db.ml3 Be explicit.
          .db.ml3 Social contract. 
            .di.b Don't break it.

// HOW TO FILL A CFP 2/2
section.slide--vertical(data-transition='fade-in')
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b How to fill a CFP
    .fla.flrnw
      .fln.flcnw.w-third.f1
        .fla.flc.b.logan.o-50 Public
        .fla.flc.b.green Private
      .fla.flcnw.pa4.tl.flcspa.ml4
        .fln
          .db.b Where
          .db.ml3 Only between you and organizers.
        .fln
          .db.b Goals
          .db.ml3 Help the organizers decide.
          .db.ml3 Will it bring them more audience?
        .fln
          .db.b How
          .db.ml3 Talk to them. 
          .db.ml3 Let them know who you are.
          .db.ml3 Links to slides, videos, articles.
    aside.notes
      | Pro-tip: Use GDocs for iterative collaboration, can be reused.
