// How to apply where
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Two types of events
    .fla.flrnw.flrspa.pv5
      .fla.flcnw.ma2.w-50.bg-black-10.br2
        .fln.relative.bg-black.br2.h-100.flc
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/searchparty_sf.jpg')")
          .b.z-1.bittersweet.f-subheadline Meetups

      .fla.flcnw.ma2.w-50.bg-black-10.br2
        .fln.relative.bg-black.br2.h-100.flc
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/onstage_guillaume.jpg')")
          .b.z-1.shamrock.f-subheadline Conferences

// Getting accepted in a meetup in four steps
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Getting accepted to a meetup in four steps
    .fla.flcnw.tl.flcspa.ml5.f3.mt4
      .fln.mv2
        .db.b.bullet-shamrock.f2 Pick a meetup
        .db.ml4 meetup.com, eventbrite, etc
      .fln.mv2
        .db.b.bullet-shamrock.f2 Send an email to the organizers
        .db.ml4 Explaining what you'd like to talk about
      .fln.mv2
        .db.b.bullet-shamrock.f2 Wait 1-2 months
        .db.ml4 Be patient
      .fln.mv2
        .db.b.bullet-shamrock.f2 Done
        .db.ml4 Yes, it's that easy

// Why is a conference any different?
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Why is a conference any different?
    .fla.flcnw.tl.flcspa.ml5.f3.mt4.mb5
      .fln.mv2
        .db.b.bullet-shamrock.f2 People paid for it
        .db.ml4 They expect higher talk quality
      .fln.mv2
        .db.b.bullet-shamrock.f2 The line-up should be attractive
        .db.ml4 So more people are coming and the event is profitable
      .fln.mv2
        .db.b.bullet-shamrock.f2 Speakers have to go through the Call For Paper
        .db.ml4 ...and convince the organizers

// CFP Public
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Public fields: Title & Abstract
    .fla.flcnw.flcspa
      .fln.flcnw.flcspa.pt4
        .fln.f1.bullet-shamrock Goal: Convince the 
          .di.b audience
      .fla.flcnw.tl.f2.flcspa
        .fln.fragment
          .b Title
          .db.ml4
            .db Make it catchy.
            .db Competition against 
              .di.i the other room.
            .db People will choose in a heartbeat.
        .fln.fragment
          .b Abstract
          .db.ml4
            .db Tell more about the content.
            .db Be upfront, don't hide information.
            .db Don't break the social contract.

// CFP Private
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Private fields: Comments & Links
    .fla.flcnw.flcspa
      .fln.flcnw.flcspa.pt4
        .fln.f1.bullet-mulberry Goal: Convince the 
          .di.b organizers
      .fla.flcnw.tl.f2.flcspa
        .fln.fragment
          .b Comments
          .db.ml4
            .db Talk to the organizers. They are human.
            .db Explain why you do this talk, what the message is.
            .db Don't underestimate this field.
        .fln.fragment
          .b Links
          .db.ml4
            .db Show your track record.
            .db Videos, slides, articles.
            .db Create a screencast if needed.

// Collaborative help
section.slide--horizontal
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Getting better together
    .fla.flrnw
      .fln.flc.w-50
        img.w-100(src="./img/gdoc.png")
      .fln.flcnw.w-50.flccv
        .fln.tl.ml5.f1
          .bullet-shamrock Google Document
          .bullet-shamrock Iterative feedback
          .algolia-blue.f-headline.pa3.tc #help-cfp

