section
  h3.f2.mb3.amaranth.text-shadow Tim Carry

  .flex-column-nowrap.h4.bg-black-50.br2.pa2
    .flex-auto.h-33.flex-vcenter.flex
      |Co-organisateur des 
      img.h1.v-bottom.ml1.mr1(src='./img/humantalks.png', alt='HumanTalks')
      | et des 
      img.w3.v-bottom.ml1(src='./img/techlunch.png', alt='TechLunch')
    .flex-auto.h-33.flex-vcenter.flex
      |Developer Advocate à 
      img.h1.v-bottom.ml1(src='./img/algolia.png', alt='Algolia')
    .flex-auto.h-33.flex.flex-vcenter
      |@pixelastic sur Twitter
