section
  h3.f2.mb3.palooka Tim Carry

  .flex.flex-row.flex-wrap
    .flex.flex-auto.w-50.f4.h3.justify-center.items-center
      ="@pixelastic"
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h2(src='./img/algolia.png', alt='Algolia')
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h2(src='./img/humantalks.png', alt='HumanTalks')
    .flex.flex-auto.w-50.h3.items-center.justify-center
      img.h1(src='./img/techlunch.png', alt='TechLunch')
