// WHY?
section.slide--horizontal.slide--theme1
  .bg-gradient-primary.white.h-100.flcnw.flc
    .f-subheadline.lh-title.mh6.ph6 Why should I talk?
    .i.mt2.f2
      | "I'm a developer. I don't 
      .di.b talk 
      | to people."

// List of reasons you should talk
section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b Main reasons
    .fla.flc
      ul.list.tl.f-subheadline
        li.bullet-shamrock To share
        li.bullet-shamrock To learn
        li.bullet-shamrock For your career
    aside.notes
      | Sharing what you know.
      | Putting it in words will make you learn it more. Last step of learning is teaching.
      | Talking about it will make you an expert in that subject

section.slide--vertical
  .h-100.flcnw.pa3
    .fln.f1.lh-title.tl.b From here to there
    .fla.flrw
      .fla.w-third.ph2.pv4.fl
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.br2.z-0.o-30(style="background-image:url('./img/silicon-valley.png')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.titan-white Casual
            .fla.pa2.flc Informal discussions at the office

      .fla.w-third.ph2.pv4.fl.fragment
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.br2.z-0.o-30(style="background-image:url('./img/algolia-office.jpg')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.logan Internal
            .fla.pa2.flc Presentation to a group of coworkers

      .fla.w-third.ph2.pv4.fl.fragment
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.br2.z-0.o-30(style="background-image:url('./img/searchparty_sf.jpg')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.bittersweet Local
            .fla.pa2.flc Talk at an outside meetup

      .fla.w-third.ph2.pv4.fl.fragment
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.br2.z-0.o-30(style="background-image:url('./img/onstage_guillaume.jpg')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.shamrock National
            .fla.pa2.flc Official talk at a paid conference

      .fla.w-third.ph2.pv4.fl.fragment
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.z-0.o-30(style="background-image:url('./img/onstage_liam.jpg')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.algolia-blue International
            .fla.pa2.flc Travelling to several countries

      .fla.w-third.ph2.pv4.fl.fragment
        .fla.fl.relative.bg-black.br3.oh
          .absolute.absolute-0.bg-cover.bg-center.grayscale.br2.z-0.o-30(style="background-image:url('./img/tedtalks.jpg')")
          .fla.flcnw.z-1.white.b
            .fln.f1.b.koromiko Professional
            .fla.pa2.flc Keynote level

    aside.notes
      | Where are you?
      | Where would you like to be?
